@use 'variables'as *;
@use 'mixins';

.btn-primary {
  @include mixins.button($color-rose-gold, $color-deep-navy);
}

.btn-secondary {
  @include mixins.button($color-ivory, $color-deep-navy);
  border: 1px solid $color-deep-navy;

  &:hover {
    background-color: $color-rose-gold;
    color: $color-ivory;
  }
}