@use '../styles/main'as *;

.header {
  align-items: center;
  background: $color-deep-navy;
  color: $color-ivory;
  display: flex;
  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 20;

  a {
    display: grid;
  }

  .cartBadge {
    display: flex;
    gap: .25rem;
  }

  svg {
    color: $color-ivory;
  }
}

.Logo {
  display: flex;
  gap: .5rem;
  letter-spacing: .5ch;
  align-items: center;
  font-size: 2.5rem;
  font-family: $font-accent;
}

.menuMobileToggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem; // replaced grid-gap
}

.header-menu-desktop {
  display: none;
  gap: 1rem;

  @media (min-width: 45em) {
    display: flex;
    margin-left: 3rem;
    height: 100%;
    align-items: center;
  }
}

.headerMenuItem {
  cursor: pointer;
  height: 100%;
  display: grid;
  align-items: center;
}

.headerCtas {
  align-items: center;
  display: flex;
  gap: .5rem;
  margin-left: auto;

  >* {
    min-width: fit-content;
  }
}

// @include mixins.media-query($s-medium-up) {
//   .headerCtas {
//     gap: 1rem;
//   }
// }

.hasMegaMenu {

  &:hover .megaMenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.megaMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: $color-ivory;
  color: $color-deep-navy;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: start;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all .2s ease-in-out;
  z-index: 100;
}

.megaMenuContent {
  display: grid;
  grid-template-rows: min-content min-content;
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
}

.submenu {
  list-style: none;
  display: flex;
  gap: 1rem;

  a {
    font-weight: bold;
    color: $color-deep-navy;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.preview {
  img {
    max-width: 100%;
    border-radius: .5rem;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}