@use '../styles/main'as *;

// .Hero {
//   width: 100%;
//   color: $color-ivory;

//   .imageWrapper {
//     position: relative;
//     padding-bottom: 150%;
//   }

//   .imageOverlay {
//     z-index: 5;
//     background-color: rgba($color-deep-navy, 0.5);
//     position: absolute;
//     height: 100%;
//     width: 100%;
//   }

//   .image {
//     position: absolute;
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//   }

//   .text {
//     @include center-y;
//     left: 0;
//     right: 0;
//     z-index: 10;
//     color: $color-ivory;
//     padding: 0 1.75rem;
//     max-width: 700px;
//     margin: 0 auto;
//     text-align: center;
//     box-sizing: border-box;
//   }

//   .buttonWrapper {
//     display: flex;
//     gap: 1rem;
//     padding: 1.5rem 0 0 0;
//     justify-content: center;
//     align-items: center;
//   }

//   @include media-query($s-small-up) {
//     .imageWrapper {
//       padding-bottom: 100%;
//     }
//   }

//   @include media-query($s-medium-up) {
//     .imageWrapper {
//       padding-bottom: 67%;
//     }

//     .text {
//       text-align: left;
//       margin: unset;
//       padding-left: 5rem;
//     }

//     .buttonWrapper {
//       justify-content: start;
//       padding: 1.5rem 0;
//     }
//   }
// }
.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  min-height: 100vh;
  gap: 1rem;

  .leftImage,
  .rightTopImage,
  .rightBottomText {
    position: relative;
    overflow: hidden;
  }

  .leftImage {
    grid-row: 3/4;
    background-size: cover;
    background-position: center;
  }

  .rightTopImage {
    background-size: cover;
    background-position: center;
    aspect-ratio: 2/1;
  }

  .rightBottomText {
    padding: 2rem;
    background: $color-ivory;
  }

  .borderBox,
  .borderBox2 {
    border: thick double $color-navy;
    position: absolute;
    z-index: 2;
    outline-offset: -5px;
  }

  .borderBox {
    top: 20px;
    right: 20px;
    border-color: $color-navy $color-navy transparent transparent;
    outline-color: $color-navy $color-navy transparent transparent;
    height: 40px;
    width: 110px;
  }

  .borderBox2 {
    bottom: 20px;
    left: 20px;
    border-color: transparent transparent $color-navy $color-navy;
    height: 100px;
    width: 60px;
  }

  .revealOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-ivory;
    pointer-events: none;
    z-index: 0;
  }

  .buttonWrapper {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0 0 0;
    align-items: center;
  }

  .leftImageLabel {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
  }

  @include media-query($s-medium-up) {
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 6fr 4fr;
    gap: 1rem;

    .leftImage {
      grid-row: 1 / span 2;
    }

    .borderBox {
      height: 70px;
      width: 160px;
    }

    .borderBox2 {
      height: 150px;
      width: 110px;
    }

    .rightTopImage {
      aspect-ratio: unset;
    }
  }
}