@use '../styles/main'as *;

.topBar {
  background-color: $color-soft-pink;
  color: $color-deep-navy;
  font-size: 14px;
  padding: 6px 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.swiper {
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}